<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<script src="js/projekcija.js" type="text/javascript"></script>
	<title>Projekcija</title>
</head>
<body>
	<h2>Bioskop</h2>
	<ul>
		<li><a href="">početna</a></li>
	</ul>
	<table class="korisnik">
		<tr><th>Prijavljeni ste kao</th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Filmovi">filmovi</a></li>
		<li><a href="Projekcije">projekcije</a></li>
		<li><a href="Korisnici">korisnici</a></li>
	</ul>
	<form method="post" action="Projekcije/Create" onsubmit="return validacija()">
		<input type="hidden" name="id" value="1">
		<table class="forma">
			<caption>Projekcija</caption>
			<tr>
				<th>datum i vreme:</th>
				<td>
					<input type="date" th:value="2020-04-01" name="datum"/>&nbsp;
					<input type="time" value="18:00" name="vreme"/>
				</td>
			<tr>
				<th>film:</th>
				<td>
					<select name="filmId">
						<option th:each="itFilm: ${filmovi}" th:value="${itFilm.id}" th:text="${itFilm.naziv}"></option>
					</select>	
				</td>
			</tr>
			<tr>
				<th>tip:</th>
				<td>
					<select name="tip">
						<option value="2D">2D</option>
						<option value="3D">3D</option>
						<option value="4D">4D</option>
					</select>
				</td>
			</tr>
			<tr><th>sala:</th><td><input type="number" value="1" min="1" name="sala"/></td></tr>
			<tr><th>cena karte:</th><td><input type="number" value="400.0" min="0" step="0.1" name="cenaKarte"/></td></tr>
			<tr><th></th><td><input type="submit" value="Dodaj"/></td></tr>
		</table>
	</form>
	<p class="greska"></p>
	<ul>
		<li><a href="Projekcije">povratak</a></li>
	</ul>
</body>
</html>