<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviTabela.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<script src="js/filmovi.js" type="text/javascript"></script>
	<title>Filmovi</title>
</head>
<body>
	<h2>Bioskop</h2>
	<ul>
		<li><a href="">početna</a></li>
	</ul>
	<form>
		<table class="korisnik" th:if="${session.prijavljeniKorisnik != null}">
			<tr>
				<th colspan="2" align="left">Boja:
					<select name="boja" onchange="farbanje(this)">
							<option value="DodgerBlue">plava</option>
							<option value="Red">crvena</option>
							<option value="Green">zelena</option>
					</select>
				</th>
			</tr>
			<tr><th>Prijavljeni ste kao</th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
			<tr>
				<td colspan="2">
					<ul>
						<li><a href="Korisnici/Logout">odjava</a></li>
					</ul>
				</td>
			</tr>
		</table>
		<table class="korisnik" th:unless="${session.prijavljeniKorisnik != null}">
			<tr>
				<th colspan="2" align="left">Boja:
					<select name="boja" onchange="farbanje(this)">
							<option value="DodgerBlue">plava</option>
							<option value="Red">crvena</option>
							<option value="Green">zelena</option>
					</select>
				</th>
			</tr>
			<tr><th>Niste prijavljeni</th></tr>
			<tr>
				<td>
					<ul>
						<li><a href="registracija.html">registracija</a></li>
						<li><a href="prijava.html">prijava</a></li>
					</ul>
				</td>
			</tr>
		</table>
	</form>
	<ul>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Filmovi">filmovi</a></li>
		<li><a href="Projekcije">projekcije</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici">korisnici</a></li>
	</ul>
	<form method="get">
		<table class="tabela">
			<caption>Filmovi</caption>
			<tr>
				<th>r. br.</th>
				<th>naziv</th>
				<th>žanr</th>
				<th>trajanje</th>
				<th><input type="checkbox" name="" onclick="sakrivanje(this)"/>sakrij pretragu</th>
			</tr>
			<tr>
				<th></th>
				<th><input type="search" name="naziv" th:value="${param.naziv}?: ''"/></th>
				<th>
					<select name="zanrId">
						<option value="0">odaberi</option>
						<option th:each="itZanr: ${zanrovi}" th:value="${itZanr.id}" th:text="${itZanr.naziv}" th:selected="${#strings.equals(itZanr.id, param.zanrId)}"></option>
					</select>
				</th>
				<th>
					od:<input type="number" min="0" th:value="${param.trajanjeOd}?: '0'" name="trajanjeOd"/><br/>
					do:<input type="number" min="0" th:value="${param.trajanjeDo}?: '240'" name="trajanjeDo"/>
				</th>
				<th><input type="submit" value="Pretraži"/></th>
			</tr>
			<tr th:each="itFilm, status: ${filmovi}">
				<td class="broj" th:text="${status.index + 1}"></td>
				<td><a th:href="|Filmovi/Details?id=${itFilm.id}|" th:text="${itFilm.naziv}"></a></td>
				<td>
					<ul>
						<li th:each="itZanr: ${itFilm.zanrovi}"><a th:href="|Zanrovi/Details?id=${itZanr.id}|" th:text="${itZanr.naziv}"></a></li>
					</ul>
				</td>
				<td class="broj" th:text="${itFilm.trajanje}"></td>
				<td>
					<a th:href="|Projekcije?filmId=${itFilm.id}|">projekcije</a>
				</td>
			</tr>
		</table>
	</form>
	<ul>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Filmovi/Create">dodavanje filma</a></li>
	</ul>
	<table class="horizontalni-meni" th:unless="${#servletContext.getAttribute('statistikaFilmova').empty}">
		<caption>Popularni filmovi</caption>
		<tr>
			<td>
				<ul>
					<li th:each="itBrojac: ${#servletContext.getAttribute('statistikaFilmova').filmovi}">
						<a th:href="|Filmovi/Details?id=${itBrojac.film.id}|" th:text="${itBrojac.film.naziv}"></a>
						<progress th:value="${itBrojac.brojac}" th:max="${#servletContext.getAttribute('statistikaFilmova').max}"></progress>
						<span th:text="${itBrojac.brojac}"></span>
					</li>
				</ul>
			</td>
		</tr>
	</table>
	<table class="horizontalni-meni" th:unless="${session.poseceniFilmoviZaKorisnika.empty}">
		<caption>Posećeni filmovi</caption>
		<tr>
			<td>
				<ul>
					<li th:each="itFilm: ${session.poseceniFilmoviZaKorisnika}"><a th:href="|Filmovi/Details?id=${itFilm.id}|" th:text="${itFilm.naziv}"></a></li>
				</ul>
			</td>
		</tr>
	</table>
</body>
</html>