<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Korisnik</title>
</head>
<body>
	<h2>Bioskop</h2>
	<ul>
		<li><a href="">početna</a></li>
	</ul>
	<table class="korisnik" th:unless="${session.prijavljeniKorisnik == null}">
		<tr><th>Prijavljeni ste kao</th><td><a th:href="|Korisnici/Details?korisnickoIme=${session.prijavljeniKorisnik.korisnickoIme}|" th:text="${session.prijavljeniKorisnik.korisnickoIme}"></a>.</td></tr>
		<tr>
			<td colspan="2">
				<ul>
					<li><a href="Korisnici/Logout">odjava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Filmovi">filmovi</a></li>
		<li><a href="Projekcije">projekcije</a></li>
		<li th:if="${session.prijavljeniKorisnik != null and session.prijavljeniKorisnik.administrator}"><a href="Korisnici">korisnici</a></li>
	</ul>
	<form method="post" action="Korisnici/Edit">
		<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
		<table class="forma">
			<caption>Korisnik</caption>
			<tr><th>korisničko ime:</th><td th:text="${korisnik.korisnickoIme}"></td></tr>
			<tr><th>lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
			<tr><th>e-mail:</th><td><input type="text" name="eMail" th:value="${korisnik.eMail}"/></td></tr>
			<tr>
				<th>pol:</th>
				<td>
					<input type="radio" name="pol" value="muški" th:checked="${#strings.equals(korisnik.pol, 'muški')}"/><span>muški</span>&nbsp;
					<input type="radio" name="pol" value="ženski" th:checked="${#strings.equals(korisnik.pol, 'ženski')}"/><span>ženski</span>
				</td>
			</tr>
			<tr th:if="${session.prijavljeniKorisnik.administrator and session.prijavljeniKorisnik != korisnik}"><th>administrator:</th><td><input type="checkbox" name="administrator" th:checked="${korisnik.administrator}"/></td></tr>
			<tr><th></th><td><input type="submit" value="Izmeni"/></td></tr>
		</table>
	</form>
	<form method="post" action="Korisnici/Delete">
		<input type="hidden" name="korisnickoIme" th:value="${korisnik.korisnickoIme}"/>
		<table class="forma">
			<tr><th></th><td><input type="submit" value="Obriši"/></td></tr>
		</table>
	</form>
</body>
</html>