<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<script src="js/prijava.js" type="text/javascript"></script>
	<title>Prijava</title>
</head>
<body>
	<h2>Bioskop</h2>
	<ul>
		<li><a href="">početna</a></li>
	</ul>
	<table class="korisnik">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="prijava.html">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Filmovi">filmovi</a></li>
		<li><a href="Projekcije">projekcije</a></li>
	</ul>
	<form method="post" action="Korisnici/Login" onsubmit="return prijava()">
		<table class="forma">
			<caption>Prijava</caption>
			<tr><th>korisničko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
			<tr><th>lozinka:</th><td><input type="password" name="lozinka"/><input type="checkbox" name="" checked onclick="sakrivanje(this)"/>sakrij</td></tr>
			<tr><th></th><td><input type="submit" value="Prijava"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
</body>
</html>