<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="@{/}">
	<link rel="stylesheet" type="text/css" href="css/StiloviForma.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviKorisnik.css"/>
	<link rel="stylesheet" type="text/css" href="css/StiloviHorizontalniMeni.css"/>
	<title>Registracija</title>
</head>
<body>
	<h2>Bioskop</h2>
	<ul>
		<li><a href="">početna</a></li>
	</ul>
	<table class="korisnik">
		<tr><th>Niste prijavljeni</th></tr>
		<tr>
			<td>
				<ul>
					<li><a href="registracija.html">registracija</a></li>
					<li><a href="prijava.html">prijava</a></li>
				</ul>
			</td>
		</tr>
	</table>
	<ul>
		<li><a href="Zanrovi">žanrovi</a></li>
		<li><a href="Filmovi">filmovi</a></li>
		<li><a href="Projekcije">projekcije</a></li>
	</ul>
	<form method="post" action="Korisnici/Register" onsubmit="return registracija()">
		<table class="forma">
			<caption>Registracija</caption>
			<tr><th>korisničko ime:</th><td><input type="text" name="korisnickoIme"/></td></tr>
			<tr><th>lozinka:</th><td><input type="password" name="lozinka"/></td></tr>
			<tr><th>ponovljena lozinka:</th><td><input type="password" name="ponovljenaLozinka"/></td></tr>
			<tr><th>e-mail:</th><td><input type="text" name="eMail"/></td></tr>
			<tr>
				<th>pol:</th>
				<td>
					<input type="radio" name="pol" value="muški" checked/><span>muški</span>&nbsp;
					<input type="radio" name="pol" value="ženski"/><span>ženski</span>
				</td>
			</tr>
			<tr><th></th><td><input type="submit" value="Registracija"/></td></tr>
		</table>
	</form>
	<p class="greska" th:text="${poruka}"></p>
</body>
</html>